*{
    padding: 0;
    margin: 0;
}
#container{
    background-color: rgb(218, 161, 97);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container-in{
    height:300px;
    width:300px;
    background-color: rgb(230, 187, 148);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#play{
    border: none;
    background-color: rgb(252, 67, 34);
    padding: 10px;
    font-size: 24px;
    color:#fff;
    border-radius: 5px;
    font-family: Arial Rounded MT;
}